<%- include("partials/header"); -%>
<h1>Compose</h1>
<br />
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label><h5>Title</h5></label>
    <input class="form-control" type="text" name="title" /> <br />
    <label><h5>Post</h5></label>
    <textarea class="form-control" name="body" rows="8" cols="30">
Start writing .....</textarea
    >
  </div>
  <button class="btn btn-lg btn-primary" type="submit" name="button">
    Add to Diary
  </button>
</form>

<%- include("partials/footer"); -%>
