<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkBench</title>
    <!-- Bootstrap -->
    <!-- Bootstrap scripts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/home.css">
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/84e9632ba7.js" crossorigin="anonymous"></script>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;700&display=swap"
        rel="stylesheet">

</head>

<body>
    <section id="title">
        <div class="container-fluid">
            <!-- NAVBAR -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="">WorkBench</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" style="font-weight: bold;">
                            <a class="nav-link" href="#features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/login">Signin <i class="fas fa-sign-in-alt"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Title -->
            <div class="row">
                <div class="col-lg-6">
                    <h2>SIMPLE. EFFECTIVE. PERSONAL.</h2>
                    <h5>Keep life moments and ideas always with you.</h5>
                    <h5>WorkBench is here to help.</h5>
                    <a href="/users/register" type="button" class="btn btn-dark btn-lg download-button">Get Started</a>
                    <a href="/users/login" type="button" class="btn btn-outline-light btn-lg download-button">Signin <i
                            class="fas fa-sign-in-alt"></i></a>
                </div>
                <div class="col-lg-6">
                    <img class="title-image"
                        src="/images/kisspng-ico-diary-download-icon-notebook-5a948d22e9a011.4841541715196848989569.png"
                        alt="iphone-mockup">
                </div>
            </div>

        </div>
    </section>
    <!-- Features -->

    <section id="features">

        <div class="row">
            <div class="feature-box col-lg-4">
                <i class="icon fas fa-check-circle fa-4x"></i>
                <h3>Easy to use.</h3>
                <p>So easy to use, even your pet could do it.</p>
            </div>
            <div class="feature-box col-lg-4">
                <i class="icon fas fa-pen-square fa-4x"></i>
                <h3>Write.</h3>
                <p>No matter if it's short note or a lengthy diary entry.</p>
            </div>
            <div class="feature-box col-lg-4">
                <i class="icon fas fa-user-shield fa-4x"></i>
                <h3>100% Private</h3>
                <p>Your entities are totally private by default!</p>
            </div>
        </div>

    </section>
    <!-- Testimonials -->

    <section id="testimonials">

        <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <i class="fas fa-quote-left fa-3x"></i>
                    <br>
                    <h2 class="testimonialh2">Secure, simple, accessible, functional – WorkBench is
                        precisely what I have been looking for. A big THANK YOU to the WorkBench team!</h2>
                </div>
                <div class="carousel-item">
                    <i class="fas fa-quote-left fa-3x"></i>
                    <br>
                    <h2 class="testimonialh2">I love the site so much, with full privacy, I can pour my heart out. Thank
                        you so much.</h2>
                </div>
                <div class="carousel-item">
                    <i class="fas fa-quote-left fa-3x"></i>
                    <br>
                    <h2 class="testimonialh2">Great web app – simple but effective in exactly what I need. Quick ways to
                        jot down personal
                        feelings and memories.</h2>
                </div>
            </div>
            <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>

            </a>
            <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>

            </a>
        </div>

    </section>

    <section id="about">
        <h2 class="abouth1">About us</h2>
        <p class="aboutp">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="about-section">
            <div class="row">
                <div class="col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class=" about-button nav-link active" id="v-pills-home-tab" data-toggle="pill"
                            href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Idea</a>
                        <a class=" about-button nav-link" id="v-pills-profile-tab" data-toggle="pill"
                            href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                            aria-selected="false">Vision</a>
                        <a class=" about-button nav-link" id="v-pills-messages-tab" data-toggle="pill"
                            href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                            aria-selected="false">Goals</a>
                    </div>
                </div>
                <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                            aria-labelledby="v-pills-home-tab">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Vivamus semper convallis metus, sed posuere tellus ultrices ut. Nulla purus neque, maximus
                            id
                            libero non, vestibulum congue nisl. Pellentesque eu enim convallis, scelerisque dui nec,
                            dignissim dui. Morbi augue neque, posuere id pretium sed, lobortis a nisi. Suspendisse
                            venenatis
                            justo vel sapien congue tincidunt. Sed ac pulvinar mauris. Mauris ipsum metus, interdum nec
                            dapibus vel, tempus in lectus. Maecenas ornare orci eget bibendum facilisis. In cursus dolor
                            eu
                            quam tincidunt, non volutpat mauris consequat. Ut interdum faucibus erat, vel convallis
                            tortor
                            ultrices eu. Sed faucibus nibh quis pretium laoreet.</div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                            aria-labelledby="v-pills-profile-tab">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                            Vivamus semper convallis metus, sed posuere tellus ultrices ut. Nulla purus neque, maximus
                            id
                            libero non, vestibulum congue nisl. Pellentesque eu enim convallis, scelerisque dui nec,
                            dignissim dui. Morbi augue neque, posuere id pretium sed, lobortis a nisi. Suspendisse
                            venenatis
                            justo vel sapien congue tincidunt. Sed ac pulvinar mauris. Mauris ipsum metus, interdum nec
                            dapibus vel, tempus in lectus. Maecenas ornare orci eget bibendum facilisis. In cursus dolor
                            eu
                            quam tincidunt, non volutpat mauris consequat. Ut interdum faucibus erat, vel convallis
                            tortor
                            ultrices eu. Sed faucibus nibh quis pretium laoreet.</div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                            aria-labelledby="v-pills-messages-tab">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                            Vivamus semper convallis metus, sed posuere tellus ultrices ut. Nulla purus neque, maximus
                            id
                            libero non, vestibulum congue nisl. Pellentesque eu enim convallis, scelerisque dui nec,
                            dignissim dui. Morbi augue neque, posuere id pretium sed, lobortis a nisi. Suspendisse
                            venenatis
                            justo vel sapien congue tincidunt. Sed ac pulvinar mauris. Mauris ipsum metus, interdum nec
                            dapibus vel, tempus in lectus. Maecenas ornare orci eget bibendum facilisis. In cursus dolor
                            eu
                            quam tincidunt, non volutpat mauris consequat. Ut interdum faucibus erat, vel convallis
                            tortor
                            ultrices eu. Sed faucibus nibh quis pretium laoreet.</div>
                    </div>
                </div>
            </div>
    </section>

    <!-- Call to Action -->

    <section id="cta">

        <h3 class="cta-heading">Get the WorkBench that’s right for you. Signup Now!!</h3>
        <a href="/users/register" type="button" class="btn btn-dark btn-lg download-button">Get Started</a>
        <a href="/users/login" type="button" class="btn btn-outline-light btn-lg download-button">Signin <i
                class="fas fa-sign-in-alt"></i></a>

    </section>


    <!-- Footer -->

    <footer id="footer">
        <p>© Copyright 2021 WorkBench</p>

    </footer>

</body>

</html>